.global-header {
    overflow:hidden;
    text-align:left;

    // brand logo / name
    > a {
        float:left;
    }

    // site nav
    nav {
        ul {
            overflow: hidden;
        }
        li {
            float: left;
        }
    }
}