// fonts
$primary-font-family: Arial, sans-serif;

// colours
$primary-colour: #f7bf23;
$primary-font-colour: #fff;

// type sizes
$page-heading-font-size: 4;
$page-sub-heading-font-size: 2.8;
$body-font-size: 1.6;