.global-header {
    overflow:hidden;
    text-align:left;

    // brand logo / name
    > a {
        float:left;
    }

    // site nav
    nav {
        ul {
            background: transparent;
            left: 50%;
            margin-left: -269px;
            overflow: hidden;
            text-align: center;
            top:0;
            width: auto;
        }
        li {
            display: inline-block;
        }
        a {
            padding: 20px 30px;
            &:hover,
            &:focus,
            &:active {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}