main {
  margin-bottom: 25.4em; }

h1 {
  line-height: 1.1; }

.hidden-mobile {
  visibility: visible !important; }

.hidden-desktop {
  visibility: hidden !important; }

.global-header {
  overflow: hidden;
  text-align: left; }
  .global-header > a {
    float: left; }
  .global-header nav ul {
    background: transparent;
    left: 50%;
    margin-left: -269px;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: auto; }
  .global-header nav li {
    display: inline-block; }
  .global-header nav a {
    padding: 20px 30px; }
    .global-header nav a:hover, .global-header nav a:focus, .global-header nav a:active {
      background: rgba(255, 255, 255, 0.3); }

.global-footer .newsletter-signup {
  margin: 0 auto;
  width: 300px; }
