h1 {
  line-height: 1.1; }

.hidden-desktop {
  display: none !important; }

.global-header {
  overflow: hidden;
  text-align: left; }
  .global-header > a {
    float: left; }
  .global-header nav ul {
    overflow: hidden; }
  .global-header nav li {
    float: left; }

.global-footer .newsletter-signup {
  margin: 0 auto;
  width: 300px; }
