body {
    font-family: $primary-font-family;
    font-size: 62.5%;
}
main {
    padding: 2em 7%;
}
h1 {
    color: $primary-font-colour;
    @include font-size($page-heading-font-size);
    line-height: 1.5;
}
h2 {
    color: $primary-font-colour;
    @include font-size($page-sub-heading-font-size);
    line-height: 1.5;
}
p {
    color: $primary-font-colour;
    @include font-size($body-font-size);
    line-height: 1.5;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}
.hidden {
    display:none;
    &-mobile {
        display:none !important;
    }
}
.visually-hidden {
    left:-999em;
    position: absolute;
    top:-999em;
}
.shown-link {
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}