body {
    background: #000;
    color: $primary-font-colour;
    font-family: $primary-font-family;
    font-size: 62.5%;
}
main {
    padding: 2em 7%;
}
h1 {
    color: $primary-font-colour;
    @include font-size($page-heading-font-size);
    line-height: 1.5;
    margin:0 0 20px;
}
h2 {
    color: $primary-font-colour;
    @include font-size($page-sub-heading-font-size);
    line-height: 1.5;
}
p {
    color: $primary-font-colour;
    @include font-size($body-font-size);
    line-height: 1.5;
    + p {
        margin-top: 1.5em;
    }
}
a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}
.hidden {
    visibility: hidden;
    &-mobile {
        visibility: hidden !important;
    }
}
.visually-hidden {
    left:-999em;
    position: absolute;
    top:-999em;
}
.shown-link {
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}