.social-links {
    overflow:hidden;
    li {
        float: left;
	    &:nth-child(2) {
	    	position:relative;
	    	top:-8px;
	    }
    }
    a {
        color: $primary-font-colour;
        display:block;
        padding:10px;
    }
}